wet-file,
wet-folder {
  display: block;
  border: 1px dashed lightblue;
  padding: 1em;
}

wet-folder {
  border: 1px dashed yellow;
}


@media (prefers-color-scheme: dark) {
  html {
    background-color: #111;
    color: #eee;
  }

  a,
  a:link,
  a:visited {
    color: #9cf;
  }
}