wet-file,
wet-folder {
  display: block;
  border: 1px dashed yellow;
  margin: .5em;
}

wet-file {
  border: 1px dashed lightblue;
  font-family: monospace;
  white-space: pre-wrap;
}


@media (prefers-color-scheme: dark) {
  html {
    background-color: #111;
    color: #eee;
  }

  a,
  a:link,
  a:visited {
    color: #9cf;
  }
}